# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
logging
json
os
requests
copy
azure.data.tables
azure.core.exceptions
uuid
